.modal-revision {
    background-color: var(--gray-1) !important;
    padding: 0.5rem;
    border-radius: 10px;
    height: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: stretch;
}

.revision-info {
    width: 60%;
    overflow: auto;
}

.revision-der {
    width: 40%;
}

.rev-label {
    font-weight: 600;
    font-size: 0.85rem;
    color: #444;
    line-height: 1.1;
}

.rev-value {
    font-size: 0.95rem;
    color: #1f2937;
    word-break: break-word;
    margin-left: 10px;
}

.rev-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 2rem;
}
.rev-columns3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 2rem;
    margin-bottom: 2rem;
}

.rev-row {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 2px;
}

.p-disabled, .p-component:disabled {
    opacity: 1;
}

@media (max-width: 1024px) {
    .rev-columns {
        grid-template-columns: 1fr;
    }
}
